---
layout: page
title: Projects
---
<section class="list">
    {% for post in site.posts %}
        {% if post.projects %}
            <div class="item {% if post.star %}star{% endif %}">
                <!--<a class="url" href="{% if post.externalLink %}{{ post.externalLink }}{% else %}{{ site.url }}{{ post.url }}{% endif %}">-->
                    <!--<aside><time datetime="{{ post.date | date:"%d-%m-%Y" }}">{{ post.date | date: "%b %d %Y" }}</time></aside>-->
                    <!--<h3 class="title">{{ post.title }}</h3>-->
                <!--</a>-->
                <article class="c-card">

                    <header class="c-card__header c-card--center">
                        <img src="{{post.image}}" class="c-card__image" alt="Card Image" />
                    </header>

                    <div class="c-card__body">
                        <h3 class="c-card__title">
                            {{post.title}}
                        </h3>
                        <h6 class="c-card__subtitle">
                            {{post.technology}}
                        </h6>

                        <p class="c-card__intro">
                            {{post.description}}
                        </p>
                    </div>

                    <a href="{{post.externalLink}}" target="_blank">
                        <footer class="c-card__footer c-card--center">View</footer>
                    </a>

                </article>
            </div>
        {% endif %}
    {% endfor %}
</section>
