<div class="social-links">

    {% if site.github %}
        <a class="link" data-title="my projects on github" href="https://github.com/{{ site.github }}" target="_blank" rel="noopener">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
        </a>
    {% endif %}

    {% if site.dev %}
    <a class="link" data-title="my dev.to profile" href="https://dev.to/{{ site.dev }}" target="_blank" rel="noopener">
        <svg class="icon icon-dev"><use xlink:href="#icon-dev"></use></svg>
    </a>
    {% endif %}

    {% if site.email %}
        <a class="link" data-title="hit my inbox" href="mailto:{{ site.email }}">
            <svg class="icon icon-mail"><use xlink:href="#icon-mail"></use></svg>
        </a>
    {% endif %}
</div>
